<div [formGroup]="Book_Form" class="Main_book_page">
  <div class="Input_Header">
    <h1>BookFilght</h1>
  </div>
  <div class="Input_Main">
    <div>
      <p class="Input_Main_Text">FullName:</p>
      <mat-form-field appearance="fill" class="Input_Mat">
        <mat-label>FullName:</mat-label>
        <input type="text" matInput [ngModel] = "Book.fullName" formControlName="Book_FullName" name = "BookFullName">
        <mat-error *ngIf="Book_Form.get('Book_FullName')?.errors?.['required']" class="Input_Main_Error">Name is <strong>required</strong></mat-error>
      </mat-form-field>
    </div>
    <div class="Input_Mat_Flex">
      <div class="Input_Mat_Block">
        <p class="Input_Main_Text">From:</p>
        <div style="padding-right: 5%;">
          <mat-form-field appearance="fill" class="Input_Mat">
            <mat-label>From : </mat-label>
            <mat-select [ngModel]="Book.from" formControlName = "Book_From" name="BookFrom">
              <mat-option *ngFor="let Data of Book_Location_Data " [value]="Data.name">
                {{Data.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="Book_Form.get('Book_From')?.errors?.['required']" class="Input_Main_Error">Form is <strong>required</strong></mat-error>
          </mat-form-field>
          <mat-error *ngIf="CheckLocation(Book_Form)" class="Input_Main_Error">Form and To is <strong>SAME</strong> place</mat-error>
        </div>
      </div>
      <div class="Input_Mat_Block">
        <p class="Input_Main_Text" style="padding-left: 5%;">To:</p>
        <div style="padding-left: 5%;">
          <mat-form-field appearance="fill" class="Input_Mat">
            <mat-label>To :</mat-label>
            <mat-select [ngModel]="Book.to" formControlName = "Book_To" name="BookTo">
              <mat-option *ngFor="let Data of Book_Location_Data " [value]="Data.name">
                {{Data.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="Book_Form.get('Book_To')?.errors?.['required']" class="Input_Main_Error">To is <strong>required</strong></mat-error>
          </mat-form-field>
          <mat-error *ngIf="CheckLocation(Book_Form)" class="Input_Main_Error">Form and To is <strong>SAME</strong> place</mat-error>
        </div>
      </div>
    </div>
    <div class="Input_Mat_Flex">
      <div class="Input_Mat_Block" style="max-width: 33%; padding-right: 5%;">
        <p class="Input_Main_Text">Type:</p>
        <li *ngFor="let item of Book_Type_Data">
          <input type="radio" formControlName="Book_Type" name="Book_Type" value="{{item.value}}" [ngModel]="Book.type"/>
          {{item.name}}
        </li>
        <mat-error *ngIf="Book_Form.get('Book_Type')?.errors?.['required']" class="Input_Main_Error"  style="margin-top: 5%;" >Type is <strong>required</strong></mat-error>
      </div>
      <div class="Input_Mat_Block" style="max-width: 33%; padding-right: 5%;">
        <p class="Input_Main_Text">Departure:</p>
          <mat-form-field appearance="fill" class="Input_Mat">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="dp1" [ngModel] = "Book.departure" formControlName="Book_Departure" name = "BookDeparture">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker  #dp1 disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="CheckDate(Book_Form)" class="Input_Main_Error" style="margin-top: 5%;"><strong>Invalid</strong> Date (Departure Date <strong>></strong> Arrival Date)</mat-error>
      </div>
      <div class="Input_Mat_Block" style="max-width: 33%; ">
        <p class="Input_Main_Text">Arrival:</p>
        <div>
          <mat-form-field appearance="fill" class="Input_Mat">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="dp2" [ngModel] = "Book.arrival" formControlName="Book_Arrival" name = "BookArrival">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker  #dp2 disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="CheckDate(Book_Form)" class="Input_Main_Error" style="margin-top: 5%;"><strong>Invalid</strong> Date (Departure Date <strong>></strong> Arrival Date)</mat-error>
        </div>
      </div>
    </div>
    <div class="Input_Mat_Flex">
      <div class="Input_Mat_Block" style="max-width: 33%; padding-right: 5%;">
        <p class="Input_Main_Text">Adults:</p>
        <mat-form-field appearance="fill" class="Input_Mat">
          <mat-label>Adults:</mat-label>
          <input type="number" matInput [ngModel] = "Book.adults" formControlName="Book_Adults" name = "BookAdults">
          <mat-error *ngIf="Book_Form.get('Book_Adults')?.errors?.['pattern']" class="Input_Main_Error"><strong>Invalid</strong> Number</mat-error>
        </mat-form-field>
      </div>
      <div class="Input_Mat_Block" style="max-width: 33%; padding-right: 5%;">
        <p class="Input_Main_Text">Children:</p>
        <mat-form-field appearance="fill" class="Input_Mat">
          <mat-label>Children:</mat-label>
          <input type="number" matInput [ngModel] = "Book.children" formControlName="Book_Children" name = "BookChildren">
          <mat-error *ngIf="Book_Form.get('Book_Children')?.errors?.['pattern']" class="Input_Main_Error"><strong>Invalid</strong> Number</mat-error>
        </mat-form-field>
      </div>
      <div class="Input_Mat_Block" style="max-width: 33%;">
        <p class="Input_Main_Text">Infants:</p>
        <mat-form-field appearance="fill" class="Input_Mat">
          <mat-label>Infants:</mat-label>
          <input type="number" matInput [ngModel] = "Book.infants" formControlName="Book_Infants" name = "BookInfants">
          <mat-error *ngIf="Book_Form.get('Book_Infants')?.errors?.['pattern']" class="Input_Main_Error"><strong>Invalid</strong> Number</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-error *ngIf="CheckNumber(Book_Form)" class="Input_Main_Error" style="font-size: 25px; text-align: center; margin-top: 5%;">at less <strong>ONE</strong> Adults</mat-error>
      <button class = "Input_Mat" style="background-color: #ffc266; border: 5px solid #ffac2e; box-shadow: 15px 5px 3px #212121; font-size: 25px; height: 6vh; margin-bottom: 5%; margin-top: 5%;" [disabled]="Book_Form.invalid || CheckDate(Book_Form) || CheckLocation(Book_Form) || CheckNumber(Book_Form)" mat-button color="primary" (click)="onSubmit(Book_Form)">Submit</button>
    </div>
  </div>
  <div  *ngIf="Books?.length" class="Table">
    <table>
      <thead class="Table_Header">
        <tr>
          <th>Fullname</th><th>From</th><th>To</th><th>Type</th><th>Adults</th><th>Children</th><th>Infants</th><th>Departure</th><th>Arrival</th>
        </tr>
      </thead>
      <tbody class="Table_Data">
        <tr *ngFor = "let f of Books">
          <td>{{f.fullName}}</td>
          <td>{{f.from}}</td>
          <td>{{f.to}}</td>
          <td>{{f.type}}</td>
          <td>{{f.adults}}</td>
          <td>{{f.children}}</td>
          <td>{{f.infants}}</td>
          <td>{{ConverDate(f.departure)}}</td>
          <td>{{ConverDate(f.arrival)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
