.Main_book_page
{
  color:#ffc266;
  text-align: left;
  max-width: 80vw;
  margin: auto;
}
.Input_Header
{
  font-size: 35px;
  text-align: center;
  color: #ffc266;
  text-shadow: 15px 5px 3px #212121;
}
.Input_Main
{
  display: block;
  width: 60%;
  margin: auto;
  text-align: left;
}
.Input_Mat
{
  width: 100%;
  margin: auto;
  box-shadow: 15px 5px 3px#212121
}
.Input_Mat_Flex
{
  position: relative;
  display: flex;
  width: 100%;
}
.Input_Mat_Block
{
  display: block;
  width: 50%;
  margin-right: auto;
}
.Input_Main_Text
{
  font-size: 25px;
}
.Input_Main_Error
{
  font-size: 18px;
  color:#ff4554;
  margin-top: 1%;
}
.Table
{
  display:grid;
  text-align: center;
  border: 5px solid #ffae33;
  width: 100%;
  font-size: 20px;
}
.Table_Header
{
  color:#ff5c6f;
  font-size: 25px;
}
.Table_Data
{
  font-size: 20px;
}
