.Main
{
  display: inline-block;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #303030;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
